:root {
  --transition: 0.4s ease all;
}

@media screen and (min-width: 2000px) {
  #welcome-section .waves {
    margin-top: 93vh;
    transition: var(--transition);
  }
  #about-section:after,
  footer:before {
    background-repeat: repeat;
  }
}

@media screen and (max-width: 1200px) {
  #welcome-section .waves {
    margin-top: 89vh;
    transition: var(--transition);
  }
  #projects #title-projects-section,
  footer #title-contacts-section {
    padding-top: 250px;
    transition: var(--transition);
  }

  #projects #cards {
    margin: 0 0 0 10%;
  }
}

@media screen and (max-width: 1000px) {
  footer .contacts {
    flex-direction: column;
  }
  footer .contacts .contact-section {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  nav {
    width: 100%;
  }
  .wrapper-header {
    margin-top: 15px;
  }
  .wrapper-header .logo {
    display: none;
  }
  ul li {
    width: 100%;
    display: inherit;
    margin-left: 0px;
    padding: 10px;
    background: transparent;
    transition: all 0.5s linear;
  }
  ul li:hover a {
    color: var(--white);
  }
  ul {
    width: 100%;
    float: none;
    padding: 0;
    margin-right: 0;
    background: var(--background-menu);
    border-radius: 3px;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
  }
  .btn-toggle {
    display: block;
  }
  #welcome-section #title-welcome-section {
    top: 35%;
    transition: var(--transition);
  }
  #welcome-section #title-welcome-section .wrapper-title-welcome-section h1 {
    font-size: 60px;
    transition: var(--transition);
  }
  #welcome-section #title-welcome-section .wrapper-title-welcome-section p {
    font-size: 42px;
    transition: var(--transition);
  }
  .title-section h2,
  #welcome-section #title-welcome-section .wrapper-title-welcome-section h2,
  #projects #cards .project-tile h4 {
    font-size: 42px;
    transition: var(--transition);
  }
  #welcome-section #title-welcome-section .wrapper-title-welcome-section h3 {
    font-size: 20px;
    align-text: center;
    transition: var(--transition);
  }
  #welcome-section .waves {
    height: 50px;
    min-height: 50px;
    margin-top: 96vh;
    transition: var(--transition);
  }
  #about-section #text-about-section p,
  .title-section p,
  .text-projects-section a,
  #projects #cards .project-tile p,
  #projects #cards .wrapper-card .buttons-card .btn a,
  footer .contacts .contact-section form label,
  footer .contacts .contact-section form input,
  footer .contacts .contact-section form textarea,
  button {
    font-size: 24px;
    transition: var(--transition);
  }
  #projects #title-projects-section,
  footer #title-contacts-section {
    padding-top: 200px;
  }
  .title-section h3,
  .text-contact-section h3,
  .text-projects-section h3 {
    font-size: 28px;
    transition: var(--transition);
  }
  #projects #cards .wrapper-card .buttons-card .btn {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 540px) {
  #welcome-section #title-welcome-section .wrapper-title-welcome-section h1 {
    font-size: 50px;
    transition: var(--transition);
  }
  #welcome-section #title-welcome-section .wrapper-title-welcome-section p {
    font-size: 30px;
    transition: var(--transition);
  }
  .title-section h2,
  #welcome-section #title-welcome-section .wrapper-title-welcome-section h2,
  #projects #cards .project-tile h4 {
    font-size: 30px;
    transition: var(--transition);
  }
  #welcome-section #title-welcome-section .wrapper-title-welcome-section h3 {
    font-size: 20px;
    padding: 0 15px 0 15px;
    transition: var(--transition);
  }
  #welcome-section .waves {
    margin-top: 95vh;
    transition: var(--transition);
  }
  #about-section #text-about-section p,
  .title-section p,
  .text-projects-section a,
  #projects #cards .text-projects-section ul li::before,
  #projects #cards .project-tile p,
  #projects #cards .wrapper-card .buttons-card .btn a,
  footer .contacts .contact-section form label,
  footer .contacts .contact-section form input,
  footer .contacts .contact-section form textarea,
  button {
    line-height: 30px;
    font-size: 20px;
    transition: var(--transition);
  }
  #projects #title-projects-section,
  footer #title-contacts-section {
    padding-top: 150px;
    transition: var(--transition);
  }
  .title-section h3,
  .text-contact-section h3,
  .text-projects-section h3 {
    font-size: 24px;
    transition: var(--transition);
  }
  .text-contact-section h3,
  .text-projects-section h3 {
    line-height: 30px;
  }
}

@media screen and (max-width: 450px) {
  #welcome-section #title-welcome-section {
    top: 40%;
    transition: var(--transition);
  }
  #welcome-section .waves {
    margin-top: 94.5vh;
    transition: var(--transition);
  }
  .title-section h3,
  .text-contact-section h3,
  .text-projects-section h3 {
    font-size: 22px;
    transition: var(--transition);
  }
}
